<div *ngIf="service.Teams[0]!=null">
<div *ngFor="let team of service.Teams">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{team.name}}</h5>
      <p class="card-text">ID:  {{team.id}}</p>
      <p class="card-text">Ville: {{team.ville}} </p>
      <p class="card-text">Commanditaire: {{team.commanditaire}} </p>
    </div>
  </div>
</div>
</div>

<div *ngIf="service.Teams[0]==null">
      <h1 style="color: red;">Cette league ne contient aucune équipes</h1>
</div>